body{
 padding: 5px;       
}

#grid-games{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

article{
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 1rem;
}